<div id="main_background">
    <div id="main_placeholder">
        <div id="content">
            <div class="decor_blue"></div>
            <div class="decor_separator"></div>
            <div id="header"></div>
            <div class="decor_separator"></div>
            <app-menu></app-menu>
            <div class="decor_blue"></div>
            <div id="topBg">
                <router-outlet></router-outlet>
            </div>
            <div id="bg_placeholder"></div>
        </div>
        <div id="footer">
            <div class="decor_separator"></div>
            <div class="menu">
                <div class="left"></div>
                <div class="bg">
                    <small>TheTree Torrent tracker r<i>152</i> | Hosted@OpenShift - Powered: Paál Gyula</small>
                </div>
                <div class="right"></div>
            </div>
            <div class="decor_separator"></div>
            <div class="decor_blue"></div>
        </div>
    </div>
</div>
