.nyilas_hivatkozas {
  background: url('../../assets/images/menu-decor-normal.png') no-repeat left center;
  padding-left: 24px;
}

.nyilas_hivatkozas:hover {
  background-image: url('../../assets/images/menu-decor-over.png');
}
