.nyilas_hivatkozas {
  background-image: url('../../assets/images/menu-decor-normal.png');
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 24px;
}

.nyilas_hivatkozas:hover {
  background-image: url('../../assets/images/menu-decor-over.png');
}
