<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.com" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="robots" content="none noindex nofollow"/>
    <meta name="author" content="Paál Gyula [http://www.paalgyula.com]"/>
    <meta name="copyright" content="2013-2016, Paál Gyula."/>
    <meta name="description" content="TheTree Torrent Tracker"/>
    <title>TheTree™ <ui:insert name="title"> - Főoldal</ui:insert></title>
    <link rel="icon" href="images/favicon.png" type="image/png"/>
    <link rel="shortcut icon" href="images/favicon.png" type="image/png"/>
    <link rel="stylesheet" media="screen" th:href="@{~/css/main.css}" href="css/main.css"/>
    <!--script type="text/javascript" src="../js/jquery.min.js"></script-->
</head>
<body>
    <div id="main_background">
        <div id="main_placeholder">
            <div id="content">
                <div class="decor_blue"></div>
                <div class="decor_separator"></div>
                <div id="header"></div>
                <div class="decor_separator"></div>
                <div class="menu">
                    <div class="left"></div>
                    <div class="bg">
                        <h:panelGroup rendered="#{empty trackerUser}">
                            <a href="/users/login" class="nyilas_hivatkozas" th:text="#{home.login}"/>
                            <a href="/users/register" class="nyilas_hivatkozas" th:text="#{home.register}"/>
                        </h:panelGroup>
                        <h:panelGroup rendered="#{not empty trackerUser}">
                            <a href="/index" class="nyilas_hivatkozas">Főoldal</a>
                            <a href="/torrents/search" class="nyilas_hivatkozas">Letöltés</a>
                            <a href="/torrents/upload" class="nyilas_hivatkozas">Feltöltés</a>
                            <a href="/torrents/requests" class="nyilas_hivatkozas">Kérések</a>
                            <a href="/top10" class="nyilas_hivatkozas">Top10</a>
                            <a href="/forum/index" class="nyilas_hivatkozas">Fórum</a>
                            <a href="/wiki/index" class="nyilas_hivatkozas">Wiki</a>
                            <a href="/users/list" class="nyilas_hivatkozas">Felhasználók</a>
                            <a href="/bugs/index" class="nyilas_hivatkozas purple">Bugreport</a>
                            <a href="/Logout" class="nyilas_hivatkozas">Kilépés</a>
                        </h:panelGroup>
                    </div>

                    <div class="right"></div>
                </div>
                <div class="decor_separator"></div>
                <h:panelGroup rendered="true">
                    <div id="usercontrol">
                        <div class="left">
                            <a href="${userLink}">#{trackerUser.username}</a>
                            (#{trackerUser.title})
                            Pontok: <a href="#">#{trackerUser.points}</a>,
                            Arány: 0.00
                            Fel: #{tt:formatBytes(trackerUser.uploaded)}
                            Le: #{tt:formatBytes(trackerUser.downloaded)}
                            [<a href="#">Támogatás</a>]
                        </div>
                    </div>
                </h:panelGroup>

                <div class="decor_blue"></div>
                <div id="topBg">
                    <br/><br/>
                    <ui:insert name="body">
                        [ Body content goes here ]
                    </ui:insert>
                </div>
                <div id="bg_placeholder"></div>
            </div>
            <div id="footer">
                <div class="decor_separator"></div>
                <div class="menu">
                    <div class="left"></div>
                    <div class="bg">
                        <small>TheTree Torrent tracker r<i>152</i> | Hosted@OpenShift - Powered: Paál Gyula</small>
                    </div>
                    <div class="right"></div>
                </div>
                <div class="decor_separator"></div>
                <div class="decor_blue"></div>
            </div>
        </div>
    </div>
</body>
</html>