<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head('TheTree')"></head>
<body>

<div id="main_background">
    <div id="main_placeholder">
        <div id="content">
            <div class="decor_blue"></div>
            <div class="decor_separator"></div>
            <div id="header"></div>
            <div class="decor_separator"></div>

            <div th:replace="fragments :: menu"></div>
            <div class="decor_separator"></div>
            <div th:replace="fragments :: user_stats"></div>

            <div id="topBg">
                <br/><br/>

                <div class="large_window_top">
                    <div class="legend">Belépés</div>
                </div>
                <div class="large_window_bevel">
                    <div class="content">
                        <br/><br/>

                        <form method="post" action="/login" id="loginForm">
                            <div id="loginBox">
                                <div class="row">
                                    <div class="label"></div>
                                    <div class="field">
                                        <img th:src="@{~/images/watermark.png}" src="../static/images/watermark.png" alt="TheTree™" title="TheTree™"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="label">Felhasználónév:</div>
                                    <div class="field">
                                        <input type="text" name="username"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="label">Jelszó:</div>
                                    <div class="field">
                                        <input type="password" name="password"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="label">Maradjon bejelentkezve:</div>
                                    <div class="field"><input type="checkbox" name="remember-me"/></div>
                                </div>
                                <div class="row">
                                    <div class="label"></div>
                                    <div class="field"><span class="errorstring">${hibauzenet}</span></div>
                                </div>
                                <div class="row">
                                    <div class="label" style="text-align:right">
                                        <input type="submit" style="visibility: hidden" id="submitBtn"/>
                                    </div>
                                    <div class="field">
                                        <div class="button" onclick="document.getElementById('submitBtn').click();">
                                            <div class="button-left"></div>
                                            <div class="content">belépés</div>
                                            <div class="button-right"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <br/><br/>
                    </div>
                </div>

            </div>
            <div id="bg_placeholder"></div>
        </div>
        <div th:replace="fragments :: footer"></div>
    </div>
</div>

</body>
</html>