<div class="large_window_top">
    <div class="legend">Kereső</div>
</div>
<div class="large_window_bevel">
    <div class="content">
        <!-- Lapozo -->
        <div class="pager">
            <!-- <paginate total="torrents.size()" /> -->
        </div>
        <!-- Lapozo vege -->
    </div>
</div>
<br/>
<br/>

<div class="large_window_top">
    <div class="legend">Torrents</div>
</div>

<table class="table">
    <tr class="row">
        <th class="cell caption">Típus</th>
        <th class="cell caption">Név</th>
        <th class="cell caption">Feltöltve</th>
        <th class="cell caption">Méret</th>
        <th class="cell caption">D</th>
        <th class="cell caption">S</th>
        <th class="cell caption">L</th>
        <th class="cell caption">Feltöltő</th>
    </tr>

    <tr class="row odd" *ngFor="let torrent of torrents">
        <td class="cell caption">
            <img [src]="'assets/images/torrentpics/' + torrent.category.img + '.gif'" style="margin-bottom: -2px;"
                [title]="torrent.category.name"
                [alt]="torrent.category.name" />
        </td>
        <td class="cell caption">
            <a routerLink="Torrents/Show">
                {{torrent.name}}
            </a>
        </td>
        <td class="cell caption c" style="white-space: nowrap;">
            <span>{{torrent.uploaded}}</span>
            <br/>
            <span>{{torrent.downloaded}}</span>
        </td>
        <td class="cell caption c">
            {{torrent.size}}
        </td>
        <td class="cell caption c">
            {{torrent.downloaded}}
        </td>
        <td class="cell caption c">
            {{torrent.seeders}}
        </td>
        <td class="cell caption c">
            {{torrent.leechers}}
        </td>
        <td class="cell caption c">
            {{torrent.uploader?.username}}
        </td>
    </tr>
</table>

<br/>
<br/>

<div class="large_window_top">
    <div class="legend">Lapozó</div>
</div>
<div class="large_window_bevel">
    <div class="content">
        <div class="pager">
            TODO: pager
        </div>
    </div>
</div>
<br/>
<br/>
