<div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div id="loginBox">
            <div class="row">
                <div class="label"></div>
                <div class="field">
                    <img src="../../assets/images/watermark.png" alt="TheTree™" title="TheTree™" />
                </div>
            </div>
            <div class="row">
                <div class="label">
                    <label for="username">Username</label>:
                </div>
                <div class="field">
                    <input type="text" formControlName="username" />
                    <div class="errorstring" *ngIf="registerForm.controls.username.errors?.NotAllowedCharacters">
                        The username can contain only upper and lowercase letters numbers and '-' '_' and '.' characters
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="label">
                    <label for="password" i18n="@@password">Password</label>:
                </div>
                <div class="field">
                    <input type="password" formControlName="password" name="password" id="password" />
                </div>
            </div>
            <div class="row">
                <div class="label">
                    <label for="password2" i18n="@@password-again">Password again</label>:
                </div>
                <div class="field">
                    <input type="password" formControlName="passwordAgain" name="password-again" id="password2" />
                    <div class="errorstring" *ngIf="registerForm.controls.passwordAgain.errors?.MatchPassword">
                        The two password doesnt match
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="label">
                    <label for="email" i18n="@@email-address">E-Mail address</label>:
                </div>
                <div class="field">
                    <input type="email" formControlName="email" name="email" id="email" />
                </div>
            </div>
            <div class="row">
                <div class="label">
                    <label for="email2" i18n="@@email-again">E-Mail again</label>:
                </div>
                <div class="field">
                    <input type="email" formControlName="emailAgain" name="email-again" id="email2" (paste)="false" />
                    <div class="errorstring" *ngIf="registerForm.controls.emailAgain.errors?.MatchEmail">
                        The two email address doesnt match
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="label" i18n="@@gender">Gender:</div>
                <div class="field">
                    <select name="gender" formControlName="gender">
                        <option value="Male" i18n="@@male">Male</option>
                        <option value="Female" i18n="@@female">Female</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="label"></div>
                <div class="field">
                    <span class="errorstring">
                        {{registerForm.value |json}}
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="label" i18n="@@past15">Elmúltam 15 éves:</div>
                <div class="field">
                    <input type="checkbox" name="past15" formControlName="past15" />
                </div>
            </div>
            <div class="row">
                <div class="label">Elfogadom a felhasználási feltételeket:</div>
                <div class="field">
                    <input type="checkbox" name="acceptTerms" formControlName="acceptTerms" />
                </div>
            </div>
            <div class="row">
                <div class="label"></div>
                <div class="field">
                    <div class="button" (click)="onSubmit()">
                        <span class="content">regisztráció</span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
